nav {
  height: 55px;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav > div.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 22px;
  padding: 0 10px;
  height: 100%;
  max-width: 1010px;
  margin: 0 auto;
}

nav > div.nav-inner > .logo{
  font-size: 24px;
}

nav > div.nav-inner > button.hamburger{
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

nav > div.nav-inner > button.hamburger::after {
  border: none;
  content: "☰";
  font-size: 22px;
}

div.menu-container {
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

div.menu-container.active {
  display: block;
  transition: all 0.3s ease-in;
}

div.menu-container > .menu {
  position: relative;
  text-align: center;
  padding: 200px 0;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 375px;
  border-radius: 2px;
  background-color: #fafafa;
  font-weight: 600;
  border: 2px solid #e9e9e9;
}

div.menu-container > div.menu > button.close-menu{
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -20px;
}

div.menu-container > div.menu > button.close-menu::after {
  background-color: #e9e9e9;
  border-radius: 1000px;
  padding: 6px 10px;
  content: "✕";
  font-size: 20px;
}

.shine-in {
  animation: shine-in .5s;
}

.shine-out {
  animation: shine-out .5s;
}

@keyframes shine-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes shine-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
