/***** TAGS *****/
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

a {
  display: block;
  text-decoration: none;
  color: unset;
  transition: color 0.3s ease-in;
}

a.inactive-link {
  pointer-events: none;
  cursor: default;
  color: #e9e9e9;
}

a:not(.logo):hover {
  color: #DB162F;
}

/***** COMMON *****/
.d-b { display: block; }
.d-ib { display: inline-block; }
.flex { display: flex; }
.fd-r { flex-direction: row; }
.fd-c { flex-direction: column; }
.jc-c { justify-content: center; }
.ai-c { align-items: center; }
.w-100 { width: 100%; }
.w-fc { width: fit-content; }
.bs-bb { box-sizing: border-box; }
.p-a { position: absolute; }
.p-r { position: relative; }
.fs-r { font-size: 16px; }
.fs-m { font-size: 18px; }
.fs-l { font-size: 20px; }
.italic { font-style: italic; }
.fc-light { color: #fff; }
.fc-dark { color: #DB162F; }
.fw-r { font-weight: 400; }
.fw-b { font-weight: 600; }
.bg-dark { background-color: #DB162F; }
.m-s { margin: 5px; }
.m-m { margin: 10px; }
.m-l { margin: 20px; }
.mt-s { margin-top: 5px; }
.mt-m { margin-top: 10px; }
.mt-l { margin-top: 20px; }
.mr-s { margin-right: 5px; }
.mr-m { margin-right: 10px; }
.mr-l { margin-right: 20px; }
.mb-s { margin-bottom: 5px; }
.mb-m { margin-bottom: 10px; }
.mb-l { margin-bottom: 20px; }
.ml-s { margin-left: 5px; }
.ml-m { margin-left: 10px; }
.ml-l { margin-left: 20px; }
.p-s { padding: 5px; }
.p-m { padding: 10px; }
.p-l { padding: 20px; }
.pt-s { padding-top: 5px; }
.pt-m { padding-top: 10px; }
.pt-l { padding-top: 20px; }
.pr-s { padding-right: 5px; }
.pr-m { padding-right: 10px; }
.pr-l { padding-right: 20px; }
.pb-s { padding-bottom: 5px; }
.pb-m { padding-bottom: 10px; }
.pb-l { padding-bottom: 20px; }
.pl-s { padding-left: 5px; }
.pl-m { padding-left: 10px; }
.pl-l { padding-left: 20px; }
.lowercase { text-transform: lowercase; }
.br { border-radius: 2px; }
.full { width: 100%; }
.ta-c { text-align: center; }

/***** CONTAINER *****/
.tall {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 325px;
}
.fixed-width {
  width: 90vw;
  max-width: 375px;
}
.container {
  max-width: 1010px;
  margin: 90px auto 0;
  padding: 0 10px 90px;
}
/***** FEED / PAGINATION *****/
.feed > .sidebar {
  display: none;
}

.pagination {
  width: fit-content;
  height: 28px;
  padding: 8px 18px;
  border-radius: 1000px !important;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: content-box !important;
}

.pipes {
  width: 1px;
  height: 100%;
  background-color: #e9e9e9;
  margin: 0 15px;
}

/***** FORMS *****/
div.form-container {
  margin: 0 auto;
  position: relative;
}

div.form-container a.sub-message {
  font-size: 14px;
  bottom: 5%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
}

div.form-container a.sub-message span {
  text-decoration: underline;
}

.white-container {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
}

div.form-container form {
  width: 80%;
  max-width: 250px;
}

div.form-container h1 {
  margin: 0;
  font-size: 20px;
}

div.form-container form div.input-container {
  display: block;
  position: relative;
  margin: 15px 0;
}

div.form-container form div.input-container > label {
  position: absolute;
  font-size: 10px;
  top: 1.5px;
  left: 5px;
  color: #999;
  transition: all 0.1s ease-out;
}

div.form-container form div.input-container > label.expanded {
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: inherit;
}

div.form-container form div.input-container > span.char-count {
  position: absolute;
  right: 2%;
  bottom: 0;
  font-size: 10px;
  color: #999;
}

div.form-container form div.input-container > input,
div.form-container form div.input-container > textarea {
  display: block;
  width: 100%;
  padding-left: 8px;
  padding-right: 9px;
  background-color: #fafafa !important;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  font-size: 14px;
  box-sizing: border-box;
}

div.form-container form div.input-container > input {
  height: 42px;
  padding-top: 9px;
}

div.form-container form div.input-container > textarea {
  height: 120px;
  padding-top: 16px;
  resize: none;
}

/***** BUTTONS *****/

.cta {
  display: inline-block;
  cursor: pointer;
  border-width: 0;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease-in;
  padding: 7px 14px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.cta.button-dark {
  background-color: #DB162F;
  color: #fff;
}

.cta.button-dark:hover {
  background-color: #ad1327;
}

.cta.button-light {
  background-color: #fff;
  color: #000;
}

.cta.button-light:hover {
  background-color: #e9e9e9;
  color: #000;
}

div.form-container .input-error {
  font-size: 12px;
  margin-top: -10px;
  padding-left: 10px;
}

div.form-container .input-error:last-child {
  margin-bottom: 15px;
}

div.form-container .form-error {
  font-size: 12px;
  margin: 10px 0;
}

@media(min-width: 768px) {
  .feed .content {
    width: 70%;
  }

  .feed > .sidebar {
    display: block;
    position: sticky;
    height: fit-content;
    top: 75px;
    width: 30%;
    margin-left: 20px;
  }
}
