body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

div.container {
  width: 100%;
  max-width: 1010px;
  margin: 60px auto;
  padding: 0 10px;
}

a {
  display: block;
  text-decoration: none;
  color: unset;
  transition: color 0.3s ease-in;
}

a:hover {
  color: #DB162F;
}
