span.bullet::after {
  content: "•";
  font-size: 14px;
  display: inline-block;
  color: #000;
  margin: 0 7px;
}

div.word > div.votes > svg.vote {
  padding-bottom: 11px;
  cursor: pointer;
}

div.word > div.votes > svg.vote.downvote {
  transform: rotate(180deg);
}
