span.bullet::after {
  content: "•";
  font-size: 14px;
  display: inline-block;
  color: #000;
  margin: 0 7px;
}

div.word > div.votes > svg.vote {
  padding-bottom: 11px;
  cursor: pointer;
  transition: fill 0.2s ease-in;
}

div.word > div.votes > svg.vote:hover {
  fill: #00B300;
}

div.word > div.votes > svg.vote.downvote {
  transform: rotate(180deg);
}

div.word > div.votes > svg.vote.downvote:hover {
  fill: #DB162F;
}

div.word > div.votes > span {
  min-width: 10px;
  text-align: center;
}
