.global-modal-container {
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%) scale(1);
}

.global-modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
}

button.close {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  position: fixed;
  top: -2%;
  right: -5%;
  z-index: 101;
}

button.close::after {
  background-color: #e9e9e9;
  border-radius: 1000px;
  padding: 6px 10px;
  content: "✕";
  font-size: 20px;
}

.shine-in {
  animation: shine-in 0.5s;
}

.shine-out {
  animation: shine-out .5s;
}

@keyframes shine-in {
  0% { opacity: 0; transform: translateX(-50%) scale(0.5); }
  100% { opacity: 1; transform: translateX(-50%) scale(1); }
}

@keyframes shine-out {
  0% { opacity: 1; transform: translateX(-50%) scale(1); }
  100% { opacity: 0; transform: translateX(-50%) scale(0.5); }
}
