.global-modal {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.global-modal-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
}
